body{
	font-size:16px;
    font-family: 'AmazonEmberBold', 'AmazonEmber', Helvetica, sans-serif;
	color:#fff;
	margin: 0px;
	background-color:#d4dada;
}

div{
	box-sizing:border-box;
}

h1{
	font-size:47px;
	margin:0 0 15px 0;
}

p{
	font-size:30px;
	line-height:1.2em;
	margin:0px;
}

button{
	background-color:#FF9900;
	color:#232F3E;
	font-size:1em;
	padding:10px 20px;
	border:0px;
	min-width: 160px;
}

.nav{
	width:100%;
	position:relative;
	background-color:#232f3e;
	height:68px;
	display:flex;
	align-content: center;
	align-items: center;
	border-bottom: 1px solid #1b2532;
}

.logo{
	max-width:59px;
	margin:0 0 0 20px;
}

.container{
	width:100%;
	position:relative;
}

.hero{
	background:#FBFBFB;
	display: flex;
    align-items: center;
	width: 100%;
	min-height:368px;
	background-size: cover;
	background-position: center center;
}

.content{
	width: 100%;
	max-width:1200px;
	margin:0 auto;
	padding: 0px 15px;
	position: relative;
}

.col_50{
	width:50%;
	padding: 0px 15px;
	display: block;
}

.col_100{
	width:100%;
	padding: 0px 15px;
	display: block;
}


.marketo.block-1 {
    background-image: url('./images/lp-block-hero_1440x368-4.png');
    background-position: center center;
    min-height: 312px;
    max-height: 312px;
}

.marketo.block-2 {
    background-image: url('./images/lp-block-hero_1440x368-safe-2.png');
    background-position: center center;
    min-height: 312px;
    max-height: 312px;
}

.feature_box{
	background-color:#232F3E;
	border-radius:5px; 
	padding:40px;
}

.subheading{
	padding-bottom:30px;
}

@media only screen and (max-width: 768px) {

.content{
	max-width:720px;

}

h1{
	font-size:40px;
}

}

@media only screen and (max-width: 768px) {

	.content{
		max-width:720px;
	}

	h1{
		font-size:40px;
	}
	
	.col_50{
		width:100%;
	}

}


@media only screen and (max-width: 667px) {

	.content{
		max-width:720px;
	}

	h1{
		font-size:32px;
	}
	
	.col_50{
		width:100%;
	}

}
